<div class="card text-center">
    <div class="card-body">
        <img src="assets/img/logo.png" alt="SBBU Logo">
        <hr>
        <h3>Welcome to Online Student Assesment System</h3>
        <hr>
        <p>This platform is developed for the facilitation of students and teachers, in regards of conducting class tests more
            effectively, without using pen and paper. It is a single page application, which makes it possible to conduct
            class tests online but it provides quick result to the student. .</p>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Group Members</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Umair Ameen</td>
                            <td>2014BSIT14</td>
                        </tr>
                        <tr>
                            <td>Shakeel Ahmed</td>
                            <td>2014BSIT08</td>
                        </tr>
                        <tr>
                            <td>Mehtab</td>
                            <td>2014BSIT12</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Supervisor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">Hakim Ali Junejo</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Co-Supervisor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">Sandesh Kumar</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>